.main-chat
  .current-group
    .current-group__left
      .current-group__left__name
        #{@group.name}
      .current-group__left__members-list
        Member:
        - @group.users.each do |group_user|
          #{group_user.name}
    .current-group__btn-edit
      =link_to edit_group_path(@group) do
        edit

  .messages-list
    .message
    = render @messages
  -# .messages
  -# = render partial: 'message', collection: @messages


  -# .form
  -#   %message-form
  -#     %input.form__message{type: 'text', placeholder: 'type a message'}
  -#     .form__mask
  -#       %label.form__mask__image
  -#         = icon('far', 'image',class: 'icon')
  -#         %input.hidden{type: 'file'}
  -#     %input.send{type: 'submit', value: 'Send'}

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'send', class: 'send'
      
